VITE_API_BASE_URL=http://localhost:3000/api
VITE_API_USE_MOCK=true

VITE_API_LOGIN_ENDPOINT=/auth/login
VITE_API_REGISTER_ENDPOINT=/auth/register
VITE_API_ME_ENDPOINT=/auth/me
VITE_API_LOGOUT_ENDPOINT=/auth/logout
VITE_API_FORGOT_PASSWORD_ENDPOINT=/auth/forgot-password
VITE_API_TRANSACTIONS_ENDPOINT=/transactions
VITE_API_USERS_ENDPOINT=/users
